#first{
    font-size: 50px;
    font-family:Tahoma;
    text-align: center;
    
}
#second{
background-color: rgb(211, 252, 252);
text-align: center;
}
#third{
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
text-align: center;


}
#novo{
    background-color: rgb(225, 232, 225);
    border-color: rgb(212, 194, 163);
    text-align:left;
    color:black;
    font-family: 'Times New Roman';
    font-size: 20px;
}
#opa{
    font-size: 20px;
    background-color: rgb(252, 238, 238);
    color:black;
}
#phone{
    width: 20px;
    height: 20px;
    background: url(img_navsprites.gif) 0 0;
  }
  #mail{
    width: 30px;
    height: 30px;
    background: url(img_navsprites.gif) 0 0;
  }
  #website{
    width: 30px;
    height: 30px;
    background: url(img_navsprites.gif) 0 0;
  }
  #dateofbirth{
    width: 30px;
    height: 30px;
    background: url(img_navsprites.gif) 0 0;
  }
  #location{
    width: 30px;
    height: 30px;
    background: url(img_navsprites.gif) 0 0;
  }
 
  #test{
    font-size: 25px;
  }
 
#location img {
     /* Анимација на зумирање */
}





  